/* =====================
    Breakpoints
===================== */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* =====================
    Fonts
===================== */
$font-heading: 'Big Shoulders', sans-serif;
$font-body: 'Outfit', sans-serif;

/* =====================
    Colors
===================== */
$brown: #D5966C;
$black: #151515;
$grey: #444444;
$white: #FFFFFF;
