.gallery {
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        display: grid;
        gap: 11px;
        grid-template-columns: 1.2fr 0.6fr 1.2fr;
        grid-template-rows: 1.2fr 0.6fr 1.2fr;
    }

    @include breakpoint(desktop) {
        grid-template-columns: 445px 1fr 445px;
        grid-template-rows: 400px 313px 377px;
        gap: 30px;
        max-height: none;
        margin-bottom: 0;
        max-width: 100%;
    }

    &-image-1 {
        @include breakpoint(tablet) {
            grid-column: 2/span 2; 
        }
    }

    &-image-2 {
        @include breakpoint(tablet) {
        grid-column: 1/span 2; 
        grid-row: 2/span 2;  
        }
    }

    &-image-3 {
        @include breakpoint(tablet) {
        grid-column: 3/span 1; 
        grid-row: 2/span 1;
        }
    }
    
    &-content{
        max-width: 100%;

        @include breakpoint(tablet) {
            grid-column: 1/span 1;
            grid-row: 1/span 1;
            max-width: 400px;
        }

        @include breakpoint(desktop) {
                padding: 30px 90px 30px 0;
            }

        &-title {
            @include font-title;
            font-size: 50px;
            padding-top: 25px;

            @include breakpoint(tablet) {
            font-size: 50px;
            }

            @include breakpoint(desktop) {
                font-size: 60px;
                padding: 0;
                padding-bottom: 32px;
            }
        }

        &-text {
            @include font-body;
            color: $grey;
            padding-top: 21px;
            padding-bottom: 32px;

            @include breakpoint(desktop) {
                padding: 0;
                font-size: 22px;
            }
        }
    }
    
    &-invitation{
        background-color: $black;
        margin-bottom: 120px;
        padding: 48px 24px;

        @include breakpoint(tablet) {
            grid-column: 3/span 1; 
            grid-row: 3/span 2;
            padding: 85px 28px;
            margin-bottom: 11px
        }

        @include breakpoint(desktop) {
            padding: 65px 48px;
            max-height: 377px
        }
    }
    
    &-invitation-title{
        @include font-title;
        line-height: 1;
        font-size: 50px;
        color: $white;
        margin-bottom: 24px;
    }
    &-invitation-text{
        @include font-body;
        font-size: 18px;
        color: $white;

        @include breakpoint(desktop) {
            font-size: 22px;
        }
    }
    
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}