.hero {
    display: grid;

    @include breakpoint(tablet) {
        grid-template-columns: 60% 1fr;
        min-height: 700px;
        position: relative;
    }

    @include breakpoint(desktop){
        min-height: 800px;
        position: relative;
        background: linear-gradient(to right, $black 50%, $white 50%);
    }

    &__content {
        @include breakpoint(tablet) {
            position: absolute;
            top: 145px;
            right: 40px;
            width: 340px;
        }

        @include breakpoint(desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: auto auto;
            width: 100%; 
            margin: 0 auto;
            gap: 0 16vw;
            padding-left: 165px;
            position: relative;
            z-index: 20;
        }

        &-text{
            display: contents;

            &-title {
                @include font-title;
                font-size: 60px;
                padding-top: 32px;

                @include breakpoint(tablet) {
                font-size: 70px;
                }

                @include breakpoint(desktop) {
                    width: 514px;
                    font-size: 96px;
                    color: $white;
                    line-height: 0.9;
                    grid-column: 1;
                    grid-row: 1 / span 2;
                    align-self: start;
                    padding-right: 60px;
                }
            }

            &-description {
                @include font-body;
                color: $grey;
                font-size: 18px;
                padding: 32px 5px;

                @include breakpoint(desktop) {
                    font-size: 22px;
                    width: 350px;
                    grid-column: 2; 
                    grid-row: 1;    
                    margin-bottom: 64px;
                }
            }
        }
    }

    &__content-button{
        display: flex;
        width: fit-content;
        max-width: 100%;
        align-items: center;
        margin-bottom: 120px;

        @include breakpoint(desktop) {
            grid-column: 2; 
            grid-row: 2;
            align-self: start;
        }

        &-text{
            @include font-title;
            font-size: 20px;
            font-weight: 800;
            padding: 24px 32px;
            background-color: $black;
            color: white;
            text-decoration: none;
            letter-spacing: 3.64px;
        }

        &-arrow{
            background-color: $brown;
            color: $white;
            padding: 24px;
        }
    }
}
.hero__image {
    @include breakpoint(tablet){
        flex: 1;
        max-height: 700px;
        overflow: hidden;
    }

    @include breakpoint(desktop){
        position: absolute;
        left: 50%; 
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        max-width: 540px;
        min-height: 800px;
        z-index: 1;
    }
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}